body, h1, h2, h3, h4, h5, h6 {
    font-family: Mulish, sans-serif;
    color: antiquewhite;
  }

  body {
    background-image: url('/Users/mphhome/Code/Website/images/valeriia-miller-zEyv3o2z4oE-unsplash.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  button {
    font-family: Mulish, sans-serif;
    font-weight: 500;
    color:black; 
    padding: 2.5% 15px;
  }

  h1 {
    font-family: Mulish, sans-serif;
    color: antiquewhite;
    font-size: 80px;
    margin-bottom: auto;
    }

  body {
    position: fixed;
    top: 35%;
    left: 35%;
}

input[type=search] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }